{
    font-family: 'Satisfy', cursive;
    font-family: 'Shadows Into Light Two', cursive;
    font-family: 'Zilla Slab', serif;
  }
body { 
    margin:50px; 
     padding:20px; 
     color:#000;
     background:#b3ffff;}
 
 #wrap {
     width:760px;
     margin:0 auto;
     background:#6495ED;}
 
 #header {
     font-family: 'Shadows Into Light Two';
     padding:5px 10px;
     background:blue; 
     color:#F0F8FF     
 }
 
 #nav {
     padding:10px 10px;
     background:red;}
 #nav ul {
     margin:10px;
     padding:10px;
     list-style:none;}
 
 #nav li {
     display:inline;
     margin:0;
     padding:10px;}
 
 #main 
 {
     float:left;
     width:420px;
     padding:15px;
     background:orange;
}
 
 #sidebar 
 {
     float:right;
     width:230px;
     height:430px;
     padding:10px;
     color: white;
     background:yellow;
}
 
 #footer 
 {
     text-align: center;
     clear:both;
     padding:5px 10px; 10px; 10px;
     background: green;
}
 
 #footer p {
     margin:0;}
 
 