/*Font links from Google Fonts*/
/*
Colors used:
Light Teal Blue #b3ffff (Background)
Darker Teal Blue #00b3b3 
Dark Pink #cc0099 (Heading/button background)
Light Pink Sub-heading #ff99e6 (sub-heading-link hover)
Gray #999999

*/

{
    font-family: 'Satisfy', cursive;
    font-family: 'Shadows Into Light Two', cursive;
    font-family: 'Zilla Slab', serif;
}
body{
    background-image: url(Images/BackgroundImage.jpg);
    background-size: 90%;
    margin:0;
    padding:0;
    color:#000;
    }
p{
        font-family: 'Zilla Slab';
        font-size: 15px;
        color: black;
        text-align: justify;
        padding: 5px;
    }
h1{
    margin: 0;
    font-family: 'Satisfy';
    font-size: 50px;
    color: #cc0099;
    text-align: center;
    text-shadow: 3px 3px 3px #ababab; 
    }
h2{
    margin: 0;
    font-family: 'Shadows Into Light Two';
    font-size: 30px;
    color: #ff99e6;
    text-align: center;
    }
#container {
    position: relative;
    background-color: #b3ffff;
    height: 600px;
    width: 1000px;
    margin: 0px auto 0px auto;
}
#header {
    height: 60px;
    background-color: #b3ffff;
    border: 2px solid #cc0099;
    padding: 10px;
}
#nav {
    padding:5px 5px;
    background:black;
    text-align: center;
}

#left-div {
    float:left;
    width: 55%;
    height: auto;
    padding: 1%;
    background:#00b3b3;
    border: 3px solid black; 
    font-family: 'Zilla Slab';
    font-size: 20px;
    color: black;
}
#right-div 
{
    float:right;
    width: 25%;
    height: auto%;
    padding: 1%;
    background:#00b3b3;
    border: 3px solid black; 
    font-family: 'Zilla Slab';
    font-size: 20px;
    color: black;
}
#footer {
    clear: both;
    background-color: #b3ffff;
    border: 2px solid #cc0099;
    color: white;
    padding: 5px 10px;
    box-sizing: border-box;
    font-family: 'Zilla Slab';
    font-size: 15px;
    text-align: center;
}
#footer p{
    margin:0;
}

/*Link Styles*/
a:link, a:visited
    { 
      background-color: #cc0099;
      color: #66ffff;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: 'Satisfy';
    }
  a:hover, a:active
  { 
      background-color: #ff99e6;
  }





/* ooh, this is a secret Easter Egg, with secret phrase "secret agent Carey" */