{
    font-family: 'Satisfy', cursive;
    font-family: 'Shadows Into Light Two', cursive;
    font-family: 'Zilla Slab', serif;
  }

body {
    text-align: center;
    margin: 0 auto;
    float: left;
}
h1 {
    font-family: 'Satisfy';
    color: black;
    text-align: center;
    font-size: 50px;
}
h2 {
    font-family: 'Shadows Into Light Two';
    color: black;
    text-align: center;
    font-size: 30px;
}
h3 {
    font-family: 'Zilla Slab';
    color: black;
    text-align: center;
    font-size: 20px;
}