<!-Font links from Google Fonts>
{
    font-family: 'Imbue', serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Shadows Into Light Two', cursive;
}
body 
{
  background-color: #66ffff;
  border-style: groove;
}

h1 
{
  font-family: 'Satisfy';
  font-size: 60px;
  color: #cc0099;
  text-align: center;
  text-shadow: 3px 3px 3px #ababab; 
}
h2
{
    font-family: 'Imbue';
    font-size: 30px;
    color: #ff99e6;
    text-align: center;
}
p 
{
  font-family: 'Imbue';
  font-size: 25px;
  font-color: black;

}
a:link, a:visited
{ 
    background-color: #cc0099;
    color: #66ffff;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 'Shadows Into Light Two';
    font-size: 20px;

}
a:hover, a:active
{ 
    background-color: #ff99e6;
}

</style>
