<style>
<head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Imbue&family=Satisfy&family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>


font-family: 'Imbue', serif;
font-family: 'Satisfy', cursive;
font-family: 'Shadows Into Light', cursive;

body 
{
  background-color: #66ffff;
}

h1 
{
  font-family: Satisfy;
  font-size: 80px;
  color: #cc0099;
  text-align: center;
  text-shadow: 3px 3px 3px #ababab; 
}

p 
{
  font-family: Imbue;
  font-size: 30px;
  font-color: black;

}
</style>
