/*Fonts from Google*/
/* Colors: 
Dark blue: #2C3259
Teal blue: #2493A2
Yellow: #DCB13C
White: #fffafa

font-family: 'Handlee', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif;
*/
    
body {
    background-image: url("Images/Week7Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

p {
font-family: 'Poppins';
font-size: 30px;
color: #2C3259;
text-align: center;
padding: 10px;
}

h1 {
    font-family: 'Handlee';
    font-size: 50px;
    color: #2493A2;
    text-align: center;
}
h2 {
    font-family: 'Handlee';
    font-size: 25px;
    color: #DCB13C;
    text-align: center; 
}

#header {
    background-color: #DCB13C;
    border: 3px solid #2493A2;
    font-family: 'Lobster Two';
    font-size: 60px;
    font-weight: bolder;
    color: #2493A2;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

/*Link Styles*/
a:link, a:visited { 
    background-color: #2C3259;
    color: #DCB13C;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Handlee';
    font-size: 15px;
  }
a:hover, a:active{ 
    background-color: #2493A2;
}

#footer {
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    margin: 5px;
    text-align: center;
    background-color: #DCB13C;
    border: 3px solid #2493A2;
    
}

/*Styling for buttons*/
.button {
    background-color: #2493A2;
    color: #fffafa;
    border: 1px solid #DCB13C;
    justify-content: center;
    font: "Poppins";
    font-size: 20px;
    padding: 10px;
}

/*Styling for Text appearing over image with mousehover*/
.container {
    position: relative;
    width: 50%;
}
.mapImage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #DCB13C;
    color: white;
    font-family: "Poppins";
    font-size: 20px;
    padding: 16px 25px;
  } 



/*Styling for box backgrounds*/
div 
{
    background-color: #fffafa;
    margin: auto;
    width: 90%;
    align-items: center;
    text-align: center;
}

/*BOXES styling*/

/*Country Information*/
 .box1 {
    float: left;
    width: 44.5%;
    padding: 10px;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    margin: auto;
}

/*Pictures of Maps*/
.box2 {
    float: left;
    width: 44.5%;
    padding: 10px;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    margin: auto;
}
/*Answers*/
.box3 {
    float: left;
    width: 90%;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
    height: auto;
    align-content: center;
    text-align: center;
}


/*Keeps things within boxes without overflowing*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}