/* 
Colors:
    White - F5F7F9
    Peach - EA9399
    Blue - 04C5FF
    Purple - 6A537E
    Dark purple - 302138
Fonts: 
    font-family: 'Barlow', sans-serif;
    font-family: 'Kaushan Script', cursive;
*/

<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
}

/* Style the header */
.header {
  background-color: #302138;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two unequal columns that float next to each other */
.column {
  float: left;
  padding: 10px;
  height: 100%; 
}

/* Left Column */
.column.left {
  width: 30%;
  color: white;
  font-family: 'Kushaun Script';
  font-size: 25px;
  background-color: #6A537E;
  border: solid #302138;
  border-radius: 1px;
  padding: 10px;
  }

/* Right column */
.column.right {
  width: 70%;
  color: black;
  font-family: Tahoma;
  font-size: 20px;
  background-color: #F5F7F9; 
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #EA9399;
  padding: 10px;
  text-align: center;
  color: white;
  font-family: 'Kaushan Script';
  margin-top: 7px;
  border: solid #302138;
  border-radius: 1px;
  padding: 10px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.left, .column.right {
    width: 100%;
  }
}
</style>