/*Fonts from Google*/

{
font-family: 'Arvo', serif;
font-family: 'Graduate', cursive;
font-family: 'Petit Formal Script', cursive;
}

body {
    background-image: url("Images/Week5Background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Graduate';
    font-size: 30px;
}

p {
font-family: 'Arvo';
font-size: 25px;
color: black;
}

header {
    font-family: 'Petit Formal Script';
    font-size: 50px;
    color: white;
    text-align: center;
    height: 80px;
    background-image: url("Images/Week5HeaderBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid #cc0099;
    width: 100%;
    position: relative; 
    margin: 10px 10px 10px 10px;
    padding: 5px 10px 5px 10px; 
}