/*Fonts from Google*/

{
font-family: 'Arvo', serif;
font-family: 'Graduate', cursive;
font-family: 'Petit Formal Script', cursive;
}

body {
    background-image: url("Images/Week5Background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Graduate';
    font-size: 30px;
}

p {
font-family: 'Arvo';
font-size: 25px;
color: black;
}
