/*Fonts from Google*/
/* Colors: 
Dark blue: #2C3259
Teal blue: #2493A2
Yellow: #DCB13C
White: #fffafa

font-family: 'Handlee', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif;
*/
    
    body {
        background-image: url("Images/Week7Background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    
    p {
    font-family: 'Poppins';
    font-size: 20px;
    color: #2C3259;
    text-align: center;
    padding: 10px;
    }
    
    h1 {
        font-family: 'Handlee';
        font-size: 50px;
        color: #2493A2;
        text-align: center;
    }
    h2 {
        font-family: 'Handlee';
        font-size: 25px;
        color: #DCB13C;
        text-align: center;  
    }
    
    #header {
        background-color: #DCB13C;
        border: 3px solid #2493A2;
        font-family: 'Lobster Two';
        font-size: 60px;
        font-weight: bolder;
        color: #2493A2;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }
    
    /*Link Styles*/
    a:link, a:visited { 
        background-color: #2C3259;
        color: #DCB13C;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Handlee';
        font-size: 15px;
      }
    a:hover, a:active
    { 
        background-color: #2493A2;
    }
    
    #footer {
        background-color: #DCB13C;
        border: 3px solid #2493A2;
        color: #2C3259;
        box-sizing: border-box;
        text-align: center;
        padding: 10px;
        margin: auto;
    }
    
    /*Styling for box backgrounds*/
    
    div {
        background-color: #fffafa;
        margin: auto;
        width: 90%;
        border: 3px solid #003d60;
        align-items: center;
    }
    
    .button {
        background-color: #2493A2;
        color: #fffafa;
        border: 2px solid #DCB13C;
        justify-content: center;
    }

     /**/
    .box1 {
        width: 80%;
        padding: 10px;
        background-color: #fffafa;
        box-sizing: border-box;
        height: auto;
        border: 2px solid #2493A2;
        margin-bottom: 10px;
    }

    /*Keeps things within boxes without overflowing*/
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
