/*Fonts from Google*/
/* Colors: 
Yellow: #ffdd3e
Blue: #61abe8
Navy Blue: #0c2f39
*/

{
font-family: 'Arvo', serif;
font-family: 'Graduate', cursive;
font-family: 'Petit Formal Script', cursive;
}

body {
    background-image: url("Images/Week5Background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

p {
font-family: 'Arvo';
font-size: 20px;
color: #0c2f39;
text-align: justify
}

h1 {
    font-family: 'Graduate';
    font-size: 25px;
    color: #61abe8;
}

.header {
    background-color: white;
    border: 6px solid #ffdd3e;
    font-family: 'Petit Formal Script';
    font-size: 60px;
    font-weight: bolder;
    color: #61abe8;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.nav {
    font-family: 'Petit Formal Script';
    text-align: center;
    width: 100%;
    position: relative; 
    border: 2px solid #ffdd3e;
    margin: 10px 10px 10px 10px;
    padding: 5px 10px 5px 10px; 
  }

/*Link Styles*/
a:link, a:visited { 
    background-color: #0c2f39;
    color: #61abe8;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Petit Formal Script';
    font-size: 20px;
  }
a:hover, a:active
{ 
    background-color: #ffdd3e;
}

.footer {
    background-color: white;
    border: 6px solid #ffdd3e;
    color: #0c2f39;
    padding: 10px;
    box-sizing: border-box;
}

div {
    background-color: white;
    padding: 15px;
    margin: auto;
    width: 90%;
}


/* Box model used from Melissa's page*/

.box {
    float: left;
    width: 33.33%;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    height: auto;
    border: 2px solid #0c2f39;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}